@using CarShop.Services.BusAds
@using CarShop.Services.Users
@inject IBusAdsService busAdsService
@inject IUsersService  usersService

@{
    var userId = await usersService.GetUserIdByUsernameAsync(this.User.Identity.Name);
    var busAds = await busAdsService.GetAllByDealerIdAsync(userId);
}

<h1 class="text-center font-weight-bold m-4">Welcome to my bus ads page.</h1>
<hr class="bg-dark w-50 mx-auto" style="height: 3px" />
<partial name="Partials/_MyAdsChooseCategory" />
<hr class="bg-dark w-50 mx-auto" style="height: 3px" />

@if (busAds.Count == 0)
{
    <h1 class="text-center font-weight-bold m-4">You currently don't have any bus ads.</h1>
    <h3 class="text-white text-center text-dark">You can <a class="text-dark" asp-controller="BusAds" asp-action="Create"><strong>create</strong></a> some.</h3>
}
else
{
    <table class="table table-dark w-50 mx-auto">
        <thead>
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var busAd in busAds)
            {
                <tr>
                    <td>
                        <img src="@busAd.Bus.BaseImageUrl" alt="Alternate Text" style="height: 100px; width: 150px;" />
                    </td>
                    <td valign="middle">@busAd.Bus.Brand</td>
                    <td>@busAd.Bus.Model</td>
                    <td>123450 @busAd.Bus.Currency</td>
                    <td>
                        <a href="/BusAds/Edit/@busAd.Id">Edit</a>
                    </td>
                    <td>
                        <a href="/BusAds/Delete/@busAd.Id">Delete</a>
                    </td>
                    <td>
                        <a href="/BusAds/Details/@busAd.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}