@using CarShop.Services.MotorcycleAds
@using CarShop.Services.Users
@inject IMotorcycleAdsService motorcycleAdsService
@inject IUsersService  usersService

@{
    var userId = await usersService.GetUserIdByUsernameAsync(this.User.Identity.Name);
    var motorcycleAds = await motorcycleAdsService.GetAllByDealerIdAsync(userId);
}

<h1 class="text-center font-weight-bold m-4">Welcome to my motorcycles page.</h1>
<hr class="bg-dark w-50 mx-auto" style="height: 3px" />
<partial name="Partials/_MyAdsChooseCategory" />
<hr class="bg-dark w-50 mx-auto" style="height: 3px" />

@if (motorcycleAds.Count == 0)
{
    <h1 class="text-center font-weight-bold m-4">You currently don't have any motorcycle ads.</h1>
    <h3 class="text-white text-center text-dark">You can <a class="text-dark" asp-controller="MotorcycleAds" asp-action="Create"><strong>create</strong></a> some.</h3>
}
else
{
    <table class="table table-dark w-50 mx-auto">
        <thead>
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var motorcycleAd in motorcycleAds)
            {
                <tr>
                    <td>
                        <img src="~/images/@motorcycleAd.Images.FirstOrDefault().Name" alt="Alternate Text" style="height: 100px; width: 150px;" />
                    </td>
                    <td valign="middle">@motorcycleAd.Motorcycle.Brand</td>
                    <td>@motorcycleAd.Motorcycle.Model</td>
                    <td>@motorcycleAd.Motorcycle.Price @motorcycleAd.Motorcycle.Currency</td>
                    <td>
                        <a href="/MotorcycleAds/Edit/@motorcycleAd.Id">Edit</a>
                    </td>
                    <td>
                        <a href="/MotorcycleAds/Delete/@motorcycleAd.Id">Delete</a>
                    </td>
                    <td>
                        <a href="/MotorcycleAds/Details/@motorcycleAd.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}