@using CarShop.Services.Vehicles
@using CarShop.Services.Users
@inject IVehiclesService vehiclesService
@inject IUsersService  usersService

@{
    var userId = await usersService.GetUserIdByUsernameAsync(this.User.Identity.Name);
    var vehicles = await vehiclesService.GetAllVehiclesByUserIdAsync(userId);
}

@if (vehicles.Count == 0)
{
    <h1 class="text-center font-weight-bold m-4">You currently don't have any vehicles.</h1>
    <h3 class="text-white text-center text-dark">You can <a class="text-dark" asp-controller="Vehicles" asp-action="Create"><strong>create</strong></a> some.</h3>
}
else
{
    <h1 class="text-center font-weight-bold m-4">Welcome to my vehicles page.</h1>
    <hr class="bg-dark w-50 mx-auto" style="height: 3px" />

    <partial name="Partials/_MainCategoryMyVehiclesPartial" />
}

