@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    
<link href="~/css/style.css" rel="stylesheet" />

<h1 class="display-4 m-5 font-weight-bold">Change your account settings</h1>
<hr class="bg-dark" style="height: 2px; width: 70%" />

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="verticalLine"></div>
        <div class="col-md-7">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
