

<ul class="nav nav-pills flex-column settings-ul">
    <li class="nav-item"><a class="nav-link settings-link text-white font-weight-bold @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link settings-link text-white @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Change password</a></li>
    <li class="nav-item"><a class="nav-link settings-link text-white @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Delete account</a></li>
</ul>

<link href="~/css/style.css" rel="stylesheet" />