@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-12">
        <h4 class="text-center m-3">@ViewData["Title"]</h4>
        <hr class="bg-dark w-50 mx-auto" style="height: 2px" />
        <form method="post" id="profile-form" class="d-flex row text-center">
            <div class="form-group col-6">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group col-6">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            <div class="form-group col-6">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Input.Country"></label>
                <input asp-for="Input.Country" class="form-control" />
                <span asp-validation-for="Input.Country"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City"></span>
            </div>
            <div class="form-group col-6 mx-auto">
                <label asp-for="Input.PhoneNumber"></label>
                <p class="text-info">The phone number must <strong>starts with 0</strong> and must be <strong>exact 10 digits long.</strong></p>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-6 mx-auto">
                <label asp-for="Input.PhoneNumber2"></label>
                <p class="text-info">The phone number must <strong>starts with 0</strong> and must be <strong>exact 10 digits long.</strong></p>
                <input asp-for="Input.PhoneNumber2" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber2" class="text-danger"></span>
            </div>
            <div class="form-group col-6 mx-auto">
                <label asp-for="Input.PhoneNumber3"></label>
                <p class="text-info">The phone number must <strong>starts with 0</strong> and must be <strong>exact 10 digits long.</strong></p>
                <input asp-for="Input.PhoneNumber3" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber3" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-dark text-white mx-auto col-12">Save</button>
        </form>
    </div>
</div>
