@using CarShop.Services.Cars
@using CarShop.Services.Users
@inject ICarsService carsService
@inject  IUsersService usersService

@{ 
    var userId = await usersService.GetUserIdByUsernameAsync(this.User.Identity.Name);
    var cars = await this.carsService.GetAllCarsByUserIdAsync(userId);
}

<div class="dropdown d-flex justify-content-center mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose from your cars
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="CarAds" asp-action="Create">Car ad</a>
        <a class="dropdown-item" asp-controller="TruckAds" asp-action="Create">Truck ad</a>
        <a class="dropdown-item" asp-controller="BusAds" asp-action="Create">Bus ad</a>
        <a class="dropdown-item" asp-controller="MotorcycleAds" asp-action="Create">Motorcycle ad</a>
    </div>
</div>