<div class="dropdown d-flex justify-content-center mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose vehicle type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="CarAds" asp-action="Search">Search cars</a>
        <a class="dropdown-item" asp-controller="TruckAds" asp-action="Search">Search trucks</a>
        <a class="dropdown-item" asp-controller="BusAds" asp-action="Search">Search buses</a>
        <a class="dropdown-item" asp-controller="MotorcycleAds" asp-action="Search">Search motorcycles</a>
    </div>
</div>