<div class="dropdown d-flex justify-content-center mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose vehicle type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Cars" asp-action="Create">Car</a>
        <a class="dropdown-item" asp-controller="Trucks" asp-action="Create">Truck</a>
        <a class="dropdown-item" asp-controller="Buses" asp-action="Create">Bus</a>
        <a class="dropdown-item" asp-controller="Motorcycles" asp-action="Create">Motorcycle</a>
    </div>
</div>