<div class="dropdown d-flex justify-content-center mb-3" id="dropdown-menu">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose vehicle type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Vehicles" asp-action="Search">Search all</a>
        <a class="dropdown-item" asp-controller="Cars" asp-action="Search">Search cars</a>
        <a class="dropdown-item" asp-controller="Trucks" asp-action="Search">Search trucks</a>
        <a class="dropdown-item" asp-controller="Buses" asp-action="Search">Search uses</a>
        <a class="dropdown-item" asp-controller="Motorcycles" asp-action="Search">Search motorcycles</a>
    </div>
</div>