<div class="dropdown d-flex justify-content-center mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose ad type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="CarAds" asp-action="MyCarAds">Car ads</a>
        <a class="dropdown-item" asp-controller="TruckAds" asp-action="MyTruckAds">Truck ads</a>
        <a class="dropdown-item" asp-controller="BusAds" asp-action="MyBusAds">Bus ads</a>
        <a class="dropdown-item" asp-controller="MotorcycleAds" asp-action="MyMotorcycleAds">Motorcycle ads</a>
    </div>
</div>

