<h1 class="text-center font-weight-bold m-4">Car ad details</h1>
<hr class="bg-dark w-50 mx-auto" style="height: 2px" />

<div class="float-left mt-3">

    <link href="~/css/slider.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/slider.js"></script>

    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides">
            <div class="numbertext">1 / 10</div>
            <img src="http://www.irdes.fr/imgs2017/images/about-imgs.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 10</div>
            <img src="https://restaurant-table-des-faubourgs.com/assets/components/tdf/js/fullPage-master/examples/imgs/bg3.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 10</div>
            <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634-750x450.jpg" alt="Alternate Text" />
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 10</div>
            <img src="http://www.irdes.fr/imgs2017/images/about-imgs.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 10</div>
            <img src="https://restaurant-table-des-faubourgs.com/assets/components/tdf/js/fullPage-master/examples/imgs/bg3.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 10</div>
            <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634-750x450.jpg" alt="Alternate Text" />
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 10</div>
            <img src="http://www.irdes.fr/imgs2017/images/about-imgs.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 10</div>
            <img src="https://restaurant-table-des-faubourgs.com/assets/components/tdf/js/fullPage-master/examples/imgs/bg3.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">9 / 10</div>
            <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634-750x450.jpg" alt="Alternate Text" />
        </div>

        <div class="mySlides">
            <div class="numbertext">10 / 10</div>
            <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634-750x450.jpg" alt="Alternate Text" />
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center; width: 700px;">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
        <span class="dot" onclick="currentSlide(10)"></span>
    </div>

    <script>
        $(document).ready(() => $(".mySlides").first().addClass("d-flex justify-content-center"));
    </script>
</div>

<div class="d-flex justify-content-center">
    <table class="table w-25 table-primary">
        <tbody>
            <tr>
                <th scope="row">Brand</th>
                <td>Brad</td>
            </tr>
            <tr>
                <th scope="row">Model</th>
                <td>Model</td>
            </tr>
            <tr>
                <th scope="row">Power</th>
                <td>Power</td>
            </tr>
            <tr>
                <th scope="row">Run</th>
                <td>Run</td>
            </tr>
            <tr>
                <th scope="row">Color</th>
                <td>Color</td>
            </tr>
            <tr>
                <th scope="row">Doors Count</th>
                <td>DoorsCount</td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td>Price</td>
            </tr>
            <tr>
                <th scope="row">Currency</th>
                <td>Currency</td>
            </tr>
            <tr>
                <th scope="row">Engine Type</th>
                <td>EngineType</td>
            </tr>
            <tr>
                <th scope="row">Manufactured on</th>
                <td>ManufacturedOn.ToShortDateString()</td>
            </tr>
            <tr>
                <th scope="row">Transmission</th>
                <td>Transmission</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>State</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h3>Description: </h3>
    <p>asdasSADASDASDasfAFasfasFASFasfA</p>
</div>


