<h1 class="text-center font-weight-bold m-4">Welcome to help page. It will inform you about the site.</h1>
<hr class="bg-dark w-75 mx-auto" style="height: 3px" />


<h3 class="ml-2">#Search ads</h3>
<h5 class="ml-5">You can search ads without creating account.</h5>
<h5 class="ml-5">There are several types of vehicles you can choose one or all of from the dropdown.</h5>
<br />
<h3 class="ml-2">#Create vehicles</h3>
<h5 class="ml-5">You must have an account to create vehicles.</h5>
<h5 class="ml-5">There are several types of vehicles you can choose one of them.</h5>
<h5 class="ml-5">If you want to create one. First register or if you have already registered. Just go to vehicles dropdown and click create vehicle after that choose type and fill out the form to create.</h5>
<br />
<h3 class="ml-2">#Create ads</h3>
<h5 class="ml-5">You must have an account to create ads. You must have a vehicle to create ad.</h5>
<h5 class="ml-5">After creating a vehicle you can create ad. Go to ads dropdown choose create ad, choose ad type after that choose your vehicle from "your vehicles" dropdown.</h5>